---
layout: default
title: ticker banner
banner_messages:
 - Website development
 - Mobile responsive
 - Impactful
 - Website design 
 - Purpose-driven
 - Food Photography
process:
 - heading: Strategy
   description: Understanding your goals, vision, style and brand is important to create a website and / or photography that speak to your ideal audience. We dive deep into getting to the root of what you are trying to achieve, through a questionnaire and a call.
 - heading: Conceptualisation
   description: This phase is all about creating moodboards and wireframes to bring your ideas and vision to life, making sure that we move forward with a cohesive visual style for your brand. 
 - heading: Creation
   description: For websites, I use an approved wireframe / design to build a custom-coded website, completing it with a user-friendly CMS that you can update yourself. For photography, I will be capturing your imagery, sharing updates along the way. Once the photos are taken, you will receive a gallery to select the final images for editing.
 - heading: Delivery
   description: Crafted with your goals in mind, you will receive your chosen final product, uniquely tailored to you. With your new website and / or images, we'll have a handover, to make sure you feel prepared to use your new assets. Time to celebrate!
---

    <!-------Hero Banner------------>
    <section class="grid-spaceAround center padded sm-padded xs-padded-1 tall-90 xs-tall-70 container-header">

        <div class="col-2-bottom image-column hide-sm">
            <div class="bg-image bubble-drink portrait"></div>
        </div>
        <div class="col-8_sm-10-middle center text-column">
            <h2 class="uppercase eyebrow-heading margin-b-1">Web Developer & Photographer</h2>
            <h1>Creating <em>websites + photography</em> <br> for your  impactful <br> <span id="typed">hospitality business</span>
            </h1>
            <div id="typed-strings" style="display: none;">
                <p>hospitality business</p>
                <p>restaurant</p>
                <p>café</p>
                <p>bed + breakfast</p>
                <p>service business</p>
              </div>
            <a href="#contact" class="uppercase center margin-t-2 button"> Let's work together</a> 
        </div>
        <div class="col-2-top_sm-4_xs-3 image-column">
            <div class="bg-image dusting-cake portrait-tall"></div>
        </div>

    </section> 
    

  
    <!-------moving slider banner------>

    {% include moving-banner.html %}
  



  <!------- Services Menu Section OPTION 1 ------------------->
  <!----
    <section class="padded-lg grid-spaceAround" id="services">
        <h3 class="subheading center"> Service menu </h3>
        <div class="col-11 margin-b-1 accordion">
            <div class="accordion-item">
                <h2 class="large-text accordion-header"> <span>01</span> Web <em>Design</em> / Development</h2>
                <div class="accordion-content">
                    <p >You barely have enough time to handle the daily operations of your independent cafe, restaurant or bed & breakfast, let alone worry about building a bespoke website, in the ever-evolving digital landscape. You want to make sure your website gives the <strong>ultimate first impression.</strong> I’ll help you create a custom-coded website that reflects your impactful business and connects you with your guests.  </p>
                    <ul>
                        <li>Strategic single or multi page custom-coded websites</li>
                        <li>CSS, HTML, JavaScript</li>
                        <li>Mobile friendly responsive design</li>
                        <li>SEO optimised</li>
                        <li>Fast & secure</li>
                        <li>Booking engine integration</li>
                        <li>Custom CMS, for easy update</li>
                        <li>Post-launch support</li>
                        <li>Maintenance support</li>
                    </ul>
                    <p class="small-text margin-t-1">*Bespoke/custom quotes - starting at Euro 1200.-</p>
                    <a href="#" class="uppercase center margin-t-1 button-color"> Book a call</a>
                </div>
            </div>
        </div>
        <hr class="col-11 border-line">
        <div class="col-11 accordion">
            <div class="accordion-item">
                <h2 class="large-text accordion-header"> <span>02</span> Food / Restaurant <em>Photography</em></h2>
                <div class="accordion-content">
                    <p> For the independent food-based businesses that believe every dish has a story to tell, I’ll capture the soul of your creations through photography, content creation & user generated content (UGC) creation.</p>
                    <ul>
                        <li>Food</li>
                        <li>Drinks</li>
                        <li>Restaurant</li>
                        <li>Product</li>
                    </ul>
                    <p class="small-text margin-t-1">Currently not booking - Coming soon</p>
                </div>   
            </div>
        </div>
    </section>

-->


    <!--Services Menu OPTION 2-->
    
    <section class="padded" id="service"> 
        <h3 class="subheading center"> Service menu </h3>
        <!--this is the website service-->
        <div class="grid-spaceBetween-middle capped-width padded-sm padded-b">
            <div class="col-7_sm-12">
                <h2 class="medium-heading"> <span>01</span> Web <em>Design</em> / Development</h2>
                <p>You barely have enough time to handle the daily operations of your independent cafe, restaurant or bed & breakfast, let alone worry about building a bespoke website, in the ever-evolving digital landscape. You want to make sure your website gives the <strong>ultimate first impression.</strong> I’ll help you create a custom-coded website that reflects your impactful business and connects you with your guests. </p>
                <div class="accordion">
                    <hr class="col-11 border-line">
                    <div class="accordion-item">
                        <h4 class="uppercase small-text bold accordion-header"> What to expect from websites </h4>
                        <div class="accordion-content">
                            <ul>
                                <li>Strategic single or multi page custom-coded websites</li>
                                <li>Custom designed to fit your brand</li>
                                <li>CSS, HTML, JavaScript</li>
                                <li>Mobile friendly & responsive design</li>
                                <li>SEO optimised</li>
                                <li>Fast & secure</li>
                                <li>Custom CMS, for easy updates</li>
                                <li>Post-launch support</li>
                            </ul>
                            <p class="margin-t-1">Potential add-ons </p>
                            <ul>
                                <li>Maintenance support</li>
                                <li>Booking engine integration</li>
                                <li>Social Media integration</li>
                                <li>Food & Restaurant Photography / content creation</li>
                                <li>Image Sourcing</li>
                            </ul>
                        </div>
                    </div>
                    <hr class="col-11 border-line">
                    <div class="accordion-item">
                        <h4 class="uppercase small-text bold accordion-header"> Estimated Timeline </h4>
                        <div class="accordion-content">
                            <p>A website can take anywhere between 2 to 12 weeks, depending on the complexity of features required.
                            </p>
                            <p>*Bespoke quotes - starting at Euro 1200.- for an essential website of 1-2 pages</p>
                        </div>
                    </div>
                    <hr class="col-11 border-line">
                </div>
                <a href="#" class="uppercase center margin-t-1 button-color"> Book a call</a>
            </div>

            <div class="col-4_sm-12 sm-padded-t-75">
                <div class="bg-image laptop portrait-tall"></div>
            </div>
            
        </div>


        <!-- This is the Photography service-->
        <div class="grid-spaceBetween-middle capped-width padded-sm">
            <div class="col-4_sm-12 hide-sm">
                <div class="bg-image biscuit-flatlay portrait-tall"></div>
            </div>

            <div class="col-7_sm-12">
                <h2 class="medium-heading"> <span>02</span> Food / Restaurant <em>Photography</em></h2>
                <p> For the independent food-based businesses that believe every dish has a story to tell, I’ll capture the soul of your creations through photography & content creation.</p>
                <div class="accordion">
                    <hr class="col-11 border-line">
                    <div class="accordion-item">
                        <h4 class="uppercase small-text bold accordion-header margin-b-0"> What Photography I offer </h4>
                        <div class="accordion-content">
                            <ul>
                                <li>Food</li>
                                <li>Drinks</li>
                                <li>Restaurant</li>
                                <li>Product</li>
                            </ul>
                        </div>
                    </div>
                    <hr class="col-11 border-line">
                    <div class="accordion-item">
                        <h4 class="uppercase small-text bold accordion-header"> Estimated Timeline </h4>
                        <div class="accordion-content">
                            <p>Photos can take anywhere between X to X weeks, depending on the complexity of shots required.
                            </p>
                            <p>*Bespoke quotes for 1-2 hours of shooting time for up to 15 images - starting at Euro 300.- <br>
                            For more information or other options, feel free to reach out directly.
                            </p>
                        </div>
                    </div>
                    <hr class="col-11 border-line">
                </div>
                <a href="#" class="uppercase center margin-t-1 button-color"> Book a call</a>
            </div>
           
        </div>

    </section>


    <!-------Process Section ------>
  
    <section class="padded grid-center bg-gradient">
        <div class="padded-sm col-12 text-center">
            <h2 class="center large-text"> The Process </h2>
        </div>
        {% for item in page.process %}
        <div class="padded-sm xs-padded-tb col-3_md-6_xs-10">
            <h4 class="subheading">{{item.heading}}</h4>
            <p>{{item.description}}</p>
        </div>
        {% endfor %}

        <!----
        <div class="padded-sm col-4">
            <h4 class="subheading"> Creation </h4>
            <p> For websites, I use an approved wireframe and design to build a custom-coded website, and complete it with a user-friendly CMS that you can update yourself.  </p>
            <p>For photography, I’ll be capturing your imagery, sharing updates along the way. Once the photos are taken, you'll receive a gallery to select the final images for editing.</p>
        </div>
        <div class="padded-sm col-4">
            <h4 class="subheading"> Delivery </h4>
            <p>Crafted with your goals in mind, you’ll receive your chosen final product, uniquely tailored to you. 
                <br> With your new website and / or images, we'll have a handover, to make sure you feel prepared to use your new assets. <br> It’s time to celebrate!
            </p>
        </div>
    -->
    
    </section>
  
    <!-------Portfolio Section ------>
    <h2 class="center large-text padded-t" id="portfolio"> Portfolio</h2>
    
    <section class="grid-spaceAround padded-lg padded-t padded-b"> 
        <!-------Portfolio Web dev section ------>
        <div class="col-4_md-12-top">
            <div class="padded-sm">
                <p class="subheading margin-b-05">Website Creations</p>
                <h4 class="medium-heading">Web <em>design</em> & development</h4>
                <p> Just a little paragraph about my website work Lorem, ipsum beatae quisquam ullam sequi et, eum laudantium rerum consectetur quasi magni illo non esse aliquid? </p>
                <a href="/portfolio-web.html" class="uppercase featured-text bold">Explore more &#8594;</a>
            </div>
        </div>
        <a href="/portfolio-web.html" class="col-7_md-12">
            <div class="bg-image portfolio-cocktail-mockup portfolio-cocktail-mob  tall-70 sm-tall-50  image-border">
                <!-- background image web project-->
            </div>
        </a>
    </section>
    
    <section class="grid-spaceAround padded-lg padded-t-0 flex-flip-md"> 
        <!-------Portfolio photography section ------>
        <a href="/portfolio-photography.html" class="col-7_md-12">
            <div class="bg-image corn-fritter tall-70 sm-tall-50 image-border">
                <!-- background image photography-->
            </div>
        </a>
        <div class="col-4_md-12-top">
            <div class="padded-sm right">
                <p class="subheading margin-b-05">Photography Creations</p>
                <h4 class="medium-heading">Food <em>photography</em></h4>
                <p> Lorem ipsum dolor sit amet consecteturarchitecto adipisci cum animi labore in aliquam dolores repellat natus ab venia.Just a little paragraph about my photography work </p>
                <a href="/portfolio-photography.html" class="uppercase featured-text bold">Explore more &#8594;</a>
            </div>
        </div>
    </section>



    <!-------Testimonial Section ------------>
  
    {% include review.html %}

    <!-------About Section ----------------------->
    
    <section class="grid-spaceAround padded-lg md-padded sm-padded-lg" id="about">
        <div class="col-7-middle_sm-12">
        
            <h3 class="subheading">Ciao, I'm Tatjana</h3>
            <h2>You <em>dance</em> in your back office every time your <em>service</em> makes someone smile? If that is you, then I'm glad you're here!
            </h2>
            <p> Growing up in Namibia, surrounded by nature and incredible wildlife, two things have always been important to me: 
            </p>
            <ol class="margin-b-1">
                <li> Service excellence and delighting others through memorable experiences</li>
                <li> Leaving a positive impact in our communities / wherever we go</li>
            </ol>
            <p> With a Bachelor in International Hospitality Management and a decade of experience in the industry, hospitality to me, has always been about community and creating beautiful memories. My time in the industry has allowed me to create some of the most beautiful in-person moments.
            </p>
            <p> Now, I’m bringing that dedication in helping small, independent business owners by providing strategic website and food photography services to enhance their online presence and support their journey to not only continue making a mark in the heart of their guests, but fostering change in their community and environment.
            </p>
        </div>
        
        <div class="col-4-middle_sm-10 sm-padded-t">
            <div class="bg-image profile-image portrait-tall"></div>
        </div>
    </section>
  
  

    
  
    <!-------Bold Call to Action Section ----------->
    <section class="padded-lg bg-gradient grid-spaceAround"> 
        <div class="col-3-middle hide-xs">
            <div class="bg-image profile-image-2 portrait-tall"></div>
        </div>
        <div class="col-7_xs-12-middle">
            <h4 class="medium-heading">Driven to make an impact. One <em>dish</em> at a time. One <em>experience</em> at a time.</h4>
            <p> By the time our work is done, you won’t just have a website or gorgeous new images. You’ll have a newfound confidence in your business that stems from knowing your digital presence aligns with your values, aspirations and purpose, beyond the ordinary.
            </p>
            <a href="#" class="uppercase margin-t-1 button-color">Book a call</a>
        </div>
    </section>


    
    <!-------Contact Section ------>
    <section class="grid padded-lg md-padded xs-padded" id="contact">
        <div class="col-2-bottom hide-xs">
            <div class="bg-image water-image portrait-tall"></div>
        </div>
        <div class="col-8_xs-12-middle">
            <h2 class="center padded-b"> Let's get your  <br> business online </h2>
            
            <form class="uppercase">
                <label for="_name">Name*</label>
                <input type="text" name="_name" id="_name">
              
                <label for="_replyto">Email*</label>
                <input type="email" name="_replyto" id="_replyto">
              
                <label for="_number">Number</label>
                <input type="tel" name="_number" id="_number">
              
                <label for="services">Which Services are you interested in?</label>
                <select id="services">
                  <option value="web">Web Design / Development</option>
                  <option value="web">Development Only</option>
                  <option value="photo">Food Photography </option>
                  <option value="restaurant">Restaurant Photography</option>
                  <option value="product">Product Photography</option>
                </select>

                <label for="timeline">Timeline until launch date</label>
                <input type="text" id="_timeline">
              
                <label for="message">Tell me a little about your business & what you are looking for...</label>
                <textarea name="message" id="messgae"></textarea>
              
                <button class="uppercase margin-t-1 center" type="submit"> Inquire now </button>
              </form>
        
        </div>
        
        <div class="col-2-top hide-xs">
            <div class="bg-image building portrait"></div>
        </div>

        <div class="grid-spaceAround col-12">
            <div class="col-2_xs-3 padded-t">
                <p class="small-text margin-b-0">Email directly</p>
                <a href="#" class="bold uppercase underline">Here</a>
            </div>
            <div class="col-3_xs-4 padded-t">
                <p class="small-text margin-b-0">Reach out in</p>
                <p class="small-text">English, German or Afrikaans</p>
            </div>
            <div class="col-2_xs-3 padded-t">
                <p class="small-text margin-b-0">Book a free call</p>
                <a href="#" class="bold uppercase featured-text underline">Book here</a>
            </div>
        </div>

    </section>




  
    <!-------Instagram Gallery  ------>

    <section class="grid-spaceAround gallery padded-sm padded-t-0">
        <div class="col-2">
            <div class="bg-image square"></div>
        </div> 
        <div class="col-2">
            <div class="bg-image square"></div>
        </div> 
        <div class="col-2">
            <div class="bg-image square"></div>
        </div> 
        <div class="col-2">
            <div class="bg-image square"></div>
        </div> 
        <div class="col-2">
            <div class="bg-image square"></div>
        </div> 
    </section>
      

