---
layout: default
title: ticker banner
banner_messages:
 - Website development
 - Mobile responsive
 - Impactful
 - Website design 
 - Purpose-driven
 - Food Photography
 - Thoughtful
---

<!-------Hero Banner------------>
<section class="grid-spaceAround center padded sm-padded xs-padded-1 tall-90 xs-tall-70 container-header">

    <div class="col-2-bottom image-column hide-sm">
        <div class="bg-image bubble-drink portrait lazy"></div>
    </div>
    <div class="col-8_sm-10-middle center text-column">
        <h2 class="uppercase eyebrow-heading margin-b-1">Web Developer & Photographer</h2>
        <h1>Creating <em>websites + photography</em> <br> for your  impactful <br> <span id="typed">hospitality business</span>
        </h1>
        <div id="typed-strings" style="display: none;">
            <p>restaurant</p>
            <p>café</p>
            <p>bed + breakfast</p>
            <p>hospitality business</p>
            <p>service business</p>
            <p>food brand</p>
        </div>
        <a href="#contact" class="uppercase center margin-t-2 button"> Let's work together</a> 
    </div>
    <div class="col-2-top_sm-4_xs-3 image-column">
        <div class="bg-image dusting-cake portrait-tall lazy"></div>
    </div>

</section> 
    

  
    <!-------moving slider banner------>

    {% include moving-banner.html %}
  


<!--Services Menu OPTION 2-->

<section class="padded" id="service"> 
    <h3 class="subheading center"> Service menu </h3>
    <!--this is the website service-->
    <div class="grid-spaceBetween-middle capped-width padded-sm padded-b">
        <div class="col-7_sm-12">
            <h2 class="medium-heading"> <span>01</span> Web <em>Design</em> / Development</h2>
            <p>You barely have enough time to handle the daily operations of your independent cafe, restaurant, or bed & breakfast, let alone worry about building a bespoke website. In an ever-evolving digital landscape, you want your website to reflect your physical space and make an impactful <strong>first impression.</strong> I’ll help you create a custom-coded website that connects your small hospitality business with your guests. </p>
            <div class="accordion">
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header"> Typically Includes </h4>
                    <div class="accordion-content">
                        <ul>
                            <li>Strategic single or multi page custom-coded websites</li>
                            <li>Custom creation to fit your unqiue brand</li>
                            <li>Using CSS, HTML & JavaScript</li>
                            <li>Mobile friendly & responsive design</li>
                            <li>Basic SEO optimisation</li>
                            <li>Fast & secure build</li>
                            <li>Analytics setup</li>
                            <li>Cross-browser compatibility testing</li>
                            <li>Custom Content Management System setup, for easy updates</li>
                            <li>Post-launch support</li>
                        </ul>
                        <p class="margin-t-1">Potential add-ons </p>
                        <ul>
                            <li>Ongoing Maintenance support</li>
                            <li>Booking engine integration</li>
                            <li>Social Media integration</li>
                            <li>Food & Restaurant Photography / content creation</li>
                            <li>Image Sourcing</li>
                        </ul>
                    </div>
                </div>
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header">Process</h4>
                    <div class="accordion-content">
                        <ul>
                            <li>Strategy - Understanding your goals, vision, style and brand is important to create a website that speaks to your ideal audience. We dive deep into getting to the root of what you are trying to achieve, through a questionnaire and a strategy call. 
                            </li>
                            <li>Conceptualisation - We'll walk through moodboards and create a low-fidelity wireframe to bring your ideas and vision to life, making sure that we move forward with a cohesive visual style for your online home. 
                            </li>
                            <li>Creation - I use an approved wireframe / design to build a custom-coded website, completing it with a user-friendly CMS that you can update yourself.
                            </li>
                            <li>Delivery - Crafted with your goals in mind, you will receive your final website, uniquely tailored to you. With your new website, we'll have a thorough handover, to make sure you feel prepared to use your new online home with confidence. Time to celebrate!
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header"> Timeline </h4>
                    <div class="accordion-content">
                        <p class="small-text-1">A website can take anywhere between 2 to 12 weeks, depending on the complexity of features required.</p>
                        <p class="small-text">*Bespoke quotes - starting at €1200 for an essential website of 1-2 pages.</p>
                    </ul>
                    </div>
                </div>
                <hr class="col-11 border-line">
            </div>
            <a href="#" class="uppercase center margin-t-1 button-color"> Book a call</a>
        </div>

        <div class="col-4_sm-12 sm-padded-t-75">
            <div class="bg-image laptop portrait-tall lazy"></div>
        </div>
        
    </div>


    <!-- This is the Photography service-->
    <div class="grid-spaceBetween-middle capped-width padded-sm">
        <div class="col-4_sm-12 hide-sm">
            <div class="bg-image biscuit-flatlay portrait-tall lazy"></div>
        </div>

        <div class="col-7_sm-12">
            <h2 class="medium-heading"> <span>02</span> Food / Restaurant <em>Photography</em></h2>
            <p> For food and service-based businesses that believe every dish has a unique story to tell. I’ll capture the soul of your creations through professional photography & content creation, leaving your dream customers envisioning their next visit.</p>
            <div class="accordion">
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header margin-b-0"> What to expect</h4>
                    <div class="accordion-content">
                        <p class="small-text-1"> Receive a fully edited gallery of images that have been discussed for their specific purposes in advance.</p>
                        <ul>
                            <li>Food</li>
                            <li>Drinks</li>
                            <li>Restaurant</li>
                            <li>Product</li>
                            <li>Lifestyle</li>
                        </ul>
                        <p class="margin-t-1">Potential add-ons </p>
                        <ul>
                            <li>Advanced editing in Photoshop</li>
                            <li>Social Graphics</li>
                            <li>Specific Liscencing</li>
                        </ul>
                    </div>
                </div>
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header"> Process</h4>
                    <div class="accordion-content">
                        <ul>
                            <li>Strategy - Understanding your goals, vision, ideal guests and brand is important to create a photography that connects with your your ideal audience. We dive deep into getting to the root of what you are trying to achieve, through a strategy call. 
                            </li>
                            <li>Conceptualisation - We'll walk through moodboards and your ideas to come up with a concept and plan for shooting day.
                            </li>
                            <li>Creation - I will be capturing your imagery, sharing updates along the way. Once the photos are taken, you will receive a gallery to select the final images for editing.
                            </li>
                            <li>Delivery - Crafted with your goals in mind, you’ll receive your final images, ready to use!
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="col-11 border-line">
                <div class="accordion-item">
                    <h4 class="uppercase small-text bold accordion-header"> Timeline </h4>
                    <div class="accordion-content">
                        <p class="small-text-1">Photo delivery can take anywhere from 7+ days, depending on the complexity of setup and number of shots and editing required.
                        </p>
                        <p class="small-text">*Bespoke quotes for 1-2 hours of shooting time for up to 15 images - starting at €300. For more information or other options, feel free to reach out directly.
                        </p>
                    </div>
                </div>
                <hr class="col-11 border-line">
            </div>
            <a href="#" class="uppercase center margin-t-1 button-color"> Book a call</a>
        </div>
        
    </div>

</section>



  
<!-------Portfolio Section ------------------------------->
<!-------Portfolio Web dev section ------>
<section class="grid-spaceAround padded-lg padded-t padded-b bg-gradient" id="portfolio"> 
    <h2 class="center col-12 large-text padded-b"> Portfolio</h2>
    <div class="col-4_md-12-top">
        <div class="padded-sm">
            <p class="subheading margin-b-05">Website Creations</p>
            <h4 class="medium-heading">Web <em>design</em> & development</h4>
            <p> Explore what your new online home could do for you. </p>
            <a href="/portfolio-web.html" class="uppercase featured-text bold">Explore more &#8594;</a>
        </div>
    </div>
    <a href="/portfolio-web.html" class="col-7_md-12">
        <div class="bg-image portfolio-cocktail-mockup portfolio-cocktail-mob tall-70 sm-tall-50 lazy">
            <!-- background image web project-->
        </div>
    </a>
</section>

<!-------Portfolio photography section ------>
<section class="grid-spaceAround padded-lg padded-t-0 bg-gradient flex-flip-md"> 
    <a href="/portfolio-photography.html" class="col-7_md-12">
        <div class="bg-image corn-fritter tall-70 sm-tall-50 lazy">
            <!-- background image photography-->
        </div>
    </a>
    <div class="col-4_md-12-top">
        <div class="padded-sm right">
            <p class="subheading margin-b-05">Photography Creations</p>
            <h4 class="medium-heading">Food <em>photography</em></h4>
            <p> Bringing your story to life through photography to connect with your guests.</p>
            <a href="/portfolio-photography.html" class="uppercase featured-text bold">Explore more &#8594;</a>
        </div>
    </div>
</section>



<!-------Testimonial Section ------------>

{% include review.html %}

<!-------About Studio Section ----------------------->

<section class="grid-spaceAround padded-lg md-padded sm-padded-lg" id="about">
    <div class="col-7-middle_sm-12">
    
        <h3 class="subheading">Ciao, I'm Tatjana</h3>
        <h2>You <em>dance</em> in your office every time your <em>service</em> makes someone smile? If that is you, then I'm glad you're here!
        </h2>
        <p> Growing up in Namibia, surrounded by nature and incredible wildlife, two things have always been important to me: 
        </p>
        <ol class="margin-b-1">
            <li> Service excellence and delighting others through memorable experiences</li>
            <li> Leaving a positive impact in our communities / wherever we go</li>
        </ol>
        <p> With a Bachelor in International Hospitality Management and a decade of experience in the industry, hospitality to me, has always been about community and creating beautiful memories. My time in the industry has allowed me to create some of the most beautiful in-person moments.
        </p>
        <p> Now, I’m bringing that dedication to helping small, hospitality owners by providing strategic website and food photography services to enhance their online presence. Supporting their journey to not only continue making a mark in the hearts of their guests but also foster change in their community and environment.
        </p>
    </div>
    
    <div class="col-4-middle_sm-10 sm-padded-t">
        <div class="bg-image profile-image portrait-tall lazy"></div>
    </div>
</section>
  
  

    
  
<!------- Call to Action Section ----------->
<section class="padded-lg bg-gradient grid-spaceAround"> 
    <div class="col-3-middle hide-xs">
        <div class="bg-image profile-image-2 portrait-tall lazy"></div>
    </div>
    <div class="col-7_xs-12-middle">
        <h4 class="medium-heading">Driven to make an impact. One <em>dish</em> at a time. One <em>experience</em> at a time.</h4>
        <p> By the time our work is done, you won’t just have a website or gorgeous new images. You’ll have a newfound confidence in your business that stems from knowing your digital presence aligns with your values, aspirations, and purpose - beyond the ordinary.
        </p>
        <a href="#" class="uppercase margin-t-1 button-color">Book a call</a>
    </div>
</section>


    
<!-------Contact Form Section -------------------->
<section class="grid padded-lg md-padded xs-padded" id="contact">
    <div class="col-2-bottom hide-xs">
        <div class="bg-image water-image portrait-tall lazy"></div>
    </div>
    <div class="col-8_xs-12-middle">
        <h2 class="center padded-b"> Let's get your  <br> business online </h2>
        
        <form class="uppercase">
            <label for="_name">Name*</label>
            <input type="text" name="_name" id="_name">
            
            <label for="_replyto">Email*</label>
            <input type="email" name="_replyto" id="_replyto">
            
            <label for="_number">Number</label>
            <input type="tel" name="_number" id="_number">
            
            <label for="services">Which Services are you interested in?</label>
            <select id="services">
                <option value="web">Web Design / Development</option>
                <option value="web">Development Only</option>
                <option value="photo">Food Photography </option>
                <option value="restaurant">Restaurant Photography</option>
                <option value="product">Product Photography</option>
            </select>

            <label for="timeline">Timeline until launch date</label>
            <input type="text" id="_timeline">
            
            <label for="message">Tell me a little about your business & what you are looking for...</label>
            <textarea name="message" id="messgae"></textarea>
            
            <button class="uppercase margin-t-1 center" type="submit"> Inquire now </button>
            </form>
    </div>
    
    <div class="col-2-top hide-xs">
        <div class="bg-image building portrait lazy"></div>
    </div>

    <div class="grid-spaceAround col-12">
        <div class="col-3_xs-6 padded-t">
            <p class="small-text margin-b-0">To give my undivided attention to each client, I work on a limited number of projects. Expect to hear back within 48h.</p>
        </div>
        <div class="col-2_xs-5 padded-t">
            <p class="small-text margin-b-0">Reach out in English, German or Afrikaans</p>
        </div>
        <div class="col-2_xs-4 padded-t">
            <p class="small-text margin-b-0">Email directly</p>
            <a href="#" class="bold uppercase underline">Here</a>
        </div>
        <div class="col-2_xs-4 padded-t">
            <p class="small-text margin-b-0">Book a free call</p>
            <a href="#" class="bold uppercase featured-text underline">Book here</a>
        </div>
    </div>

</section>




  
<!-------Instagram Gallery OPTINAL ------>
<!--
<section class="grid-spaceAround gallery padded-sm padded-t-0">
    <div class="col-2">
        <div class="bg-image square"></div>
    </div> 
    <div class="col-2">
        <div class="bg-image square"></div>
    </div> 
    <div class="col-2">
        <div class="bg-image square"></div>
    </div> 
    <div class="col-2">
        <div class="bg-image square"></div>
    </div> 
    <div class="col-2">
        <div class="bg-image square"></div>
    </div> 
</section>
-->
      

