---
layout: default
title: ticker banner
banner_messages:
 - Website development
 - Mobile responsive
 - Impactful
 - Website design 
 - Purpose-driven
 - Food Photography
---

<!-------header banner------------------------->

<section class="center grid-spaceAround padded tall-80 sm-tall-70 container-header">
    <div class="bg-image col-2-bottom image-column hide-sm">
        <div class="bg-image mob-bakery-mockup portrait"></div>
    </div>
    <div class="col-8_sm-10-middle text-column">
        <h1 class="uppercase eyebrow-heading margin-b-1"> Web Designer & Developer in Milan </h1>
        <h2 class="xtra-large-text"> Web <em> design & </em> <br> development <br> <em>portfolio</em>
        </h2>
    </div>
    
    <div class="col-2-top_sm-4 image-column">
        <div class="bg-image bnb-mockup portrait-tall"></div>
    </div>
</section> 

<!-------moving slider banner------>
{% include moving-banner.html %}


<!-------showcase & testimonial of Web Portfolio project------>

{% for project in site.projects limit: 1 %}


<!----New video incl code TEST-->
<h3 class="col-12 center medium-heading padded-lg padded-b-0"> {{project.title}}</h3>

<section class="grid-spaceAround padded-lg md-padded padded-t padded-b-0 sm-padded-b-sm flex-flip-sm"> 
    <div class="col-3-middle_md-4_sm-12 sm-padded-1">
        <p>{{project.case}}</p>
    </div>
    <div class="col-8-middle_md-7_sm-12 video-container sm-padded-1">
        <!-- background video -->
        <video autoplay muted loop playsinline poster="{{project.poster}}">
            <source src="{{project.video_webm}}" type="video/webm">
            <source src="{{project.video_mp4}}" type="video/mp4">
            <p>Sorry, your browser doesn't support embedded videos</p> 
        </video>
    </div>
</section>

<section class="grid padded-lg md-padded padded-t md-padded-t-1 padded-b md-padded-b sm-padded-t-0">  
    <div class="bg-image col-7_sm-12 tall-70 sm-tall-50 image-border" style="background-image: url('{{ project.mockup_image }}')"></div>
    
    <div class="grid col-5-bottom_sm-12">
        <div class="padded col-12 right sm-text-left sm-padded-1 sm-padded-b">
            <p>{{project.solution}}</p>
            <a href="{{ project.live_url }}" class="uppercase featured-text bold" target=“_blank”>View Live Site &#8594;</a>
        </div>
        <div class="bg-image tall-40 image-border col-12" style="background-image: url('{{ project.featured_image }}')">
            <!-- background image -->
        </div> 
    </div>
</section>

   


<!-------Call to Action and Previous / next project navigation ----------->
<section class="padded padded-t-0 xs-padded-b-lg grid-spaceAround center"> 

    <div class="col-8 right padded-b-0 xs-padded-05">
        <a href="{{ project.next-project_url }}" class="medium-heading featured-text">Next project &#8594;</a> 
    </div>

    <div class="col-8 left padded-b">
        <a href="{{ project.previous-project_url }}" class="medium-heading featured-text"> &#8592;Previous project</a> 
    </div>

    <div class="col-12-middle padded-t">
        <h5 class="medium-heading margin-b-0"> Ready to <em>talk about</em> <br> <em>your</em> new website? </h5>
        <a href="" class="uppercase margin-t-2 button-color"> Inquire Now </a>
    </div>
    
</section>

{% endfor %}

      
