---
layout: default
title: ticker banner
banner_messages:
 - Website development
 - Mobile responsive
 - Impactful
 - Website design 
 - Purpose-driven
 - Food Photography
---
  
    <!-------header banner------------------------->

    <section class="center grid-spaceAround padded tall-80 container-header">
        <div class="bg-image col-2-bottom image-column hide-sm">
            <div class="bg-image loaf-motion portrait-tall"></div>
        </div>
        <div class="col-8_sm-10-middle text-column">
            <h1 class="uppercase eyebrow-heading margin-b-1"> Web Designer & Developer in Milan </h1>
            <h2 class="xtra-large-text"> Web <em> design & </em> <br> development <br> <em>portfolio</em>
            </h2>
        </div>
        
        <div class="col-2-top_sm-4 image-column">
            <div class="bg-image pomelo-drink portrait"></div>
        </div>
    </section> 
  
    <!-------moving slider banner------>
    {% include moving-banner.html %}


    <!-------showcase & testimonial of Web Portfolio project------>

    {% for project in site.projects limit: 1 %}
    <!----Original code without video
    <section class="grid-spaceAround padded-lg padded-t padded-b-1"> 
        <h3 class="col-12 center medium-heading padded-sm"> {{project.title}}</h3>
        <div class="col-3-top_sm-12">
            <p>{{project.case}}</p>
        </div>
        <div class="bg-image col-5_sm-12 tall-60 padded-sm" style="background-image: url('{{ project.main_image }}')">
            <!-- background video --> <!----
        </div>
        <div class="col-3-bottom_sm-12 right">
            <p>{{project.solution}}</p>
            <a href="{{ project.live_url }}" class="uppercase featured-text bold" target=“_blank”>View Live Site &#8594;</a>
        </div>
    </section>
-->

<!----New video incl code TEST-->
    <section class="grid-spaceAround padded-lg padded-t padded-b-1"> 
        <h3 class="col-12 center medium-heading padded-sm"> {{project.title}}</h3>
        <div class="col-3-top_sm-12">
            <p>{{project.case}}</p>
        </div>
        <div class="col-5_sm-12 tall-60 padded-sm">
            <!-- background video -->
            <video autoplay muted loop playsinline poster="/images/the-article-poster.png">
                <source src="/videos/the-article-vid.webm" type="video/webm">
                <source src="/videos/the-article-vid.mp4" type="video/mp4">
                <p>Sorry, your browser doesn't support embedded videos</p> 
            </video>
        </div>
        <div class="col-3-bottom_sm-12 right">
            <p>{{project.solution}}</p>
            <a href="{{ project.live_url }}" class="uppercase featured-text bold" target=“_blank”>View Live Site &#8594;</a>
        </div>
    </section>

    <section class="grid padded-lg padded-t padded-b"> 
        <div class="bg-image  col-7_sm-12 tall-60 image-border" style="background-image: url('{{ project.mockup_image }}')"></div>
       
        <div class="col-5-bottom_sm-12">
            <div class="padded col-6-middle_sm-12 right">
                <p> {{project.testimonial}} </p>
                <p class="cursive-text"> - {{project.author}} </p>
            </div>
            <div class="bg-image tall-40 image-border" style="background-image: url('{{ project.featured_image }}')">
                <!-- background image -->
            </div> 
        </div>
    </section>

   


    <!-------Call to Action and Previous / next project navigation ----------->
     <section class="padded padded-t-0 grid-spaceAround center"> 

        <div class="col-8 right padded-b-0">
            <a href="{{ project.next-project_url }}" class="medium-heading featured-text">Next project &#8594;</a> 
        </div>

        <div class="col-8 left padded-b">
            <a href="{{ previous.next-project_url }}" class="medium-heading featured-text"> &#8592;Previous project</a> 
        </div>

        <div class="col-12-middle padded-t">
            <h5 class="medium-heading margin-b-0"> Ready to <em>talk about</em> <br> <em>your</em> new website? </h5>
            <a href="" class="uppercase margin-t-2 button-color"> Inquire Now </a>
        </div>
    </section>

    {% endfor %}

      
