
<header class="grid-middle bg-dark light-text">
    <div class="col-5_sm-9">
        <a href="/index.html" class="logo">
            <!--<h2> Julita Creations Studio </h2>-->
            <img src="/images/jcs-logo-nav.png" alt="Julita Creations Studio logo">
        </a>
    </div>
    <nav class="col-7 right hide-sm">
        <a href="/index.html#service">Services</a>
        <div class="dropdown">
            <span class="dropdown-title"> Portfolio </span>
            <div class="dropdown-content">
              <a href="/portfolio-web.html"> Websites </a>
              <a href="/portfolio-photography.html"> Photography </a>
            </div>
        </div>
        <a href="/index.html#about">About</a>
        <a href="/index.html#contact">Contact</a>
    </nav>
    <div class="col-1">
        <div class="burger-button show-sm">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
    </div>
</header>

<!--mobile menu hamburger button-->
<div class="mobile-menu padded">
    <nav>
        <a href="/index.html#service">Services</a>
        <a href="/portfolio-web.html">Website Portfolio</a>
        <a href="/portfolio-photography.html">Photography Portfolio</a>
        <a href="/index.html#about">About</a>
        <a href="/index.html#contact">Contact</a>
    </nav>
</div>