   
   
   <div class="col-2-bottom image-column">
        <div class="bg-image bubble-drink portrait"></div>
    </div>
    <div class="col-8-middle center text-column">
        <h2 class="uppercase eyebrow-heading margin-b-1">Web Developer & Photographer</h2>
        <h1>Creating <em>websites + photography</em> for <br> your  impactful <br> <span id="typed">hospitality business</span>
        </h1>
        <a href="#" class="uppercase center margin-t-2 button"> Let's work together</a> 
    </div>
    <div class="col-2-top image-column">
        <div class="bg-image dusting-cake portrait-tall"></div>
    </div>