<section class="grid bg-image towel-beach">
    <div class="overlay grid col-12 capped-width hidden-overfolow">
        <h4 class="col-12 center subheading margin-b-0 padded-lg-t"> Kind words </h4>
        <div class="col-12-middle center padded-lg-b"> 
            <div class="testimonial-slider-container">
                <!------------Slide 1----------------->
                <div class="slider-item">
                    <p class="medium-text center"> 
                    The ease of working with Tatjana is every restaurant owner's dream. </p>
                    <p>Her international hospitality experience provided us with valuable insights, from assisting with training, new concept ideas & implementation (...) and simply being able to have more time to go on a holiday!</p>
                    <p class="cursive-text center"> - Vanessa, Restaurant Owner</p>
                </div>
                <!------------Slide 2----------------->
                <div class="slider-item">
                    <p class="medium-text center"> 
                    The best thing for a hospitality owner is when you find someone you can trust completely, taking tasks off your hands and being able to focus on the things you want to, in your business.</p>
                    <p> And that's exactly what happened when Tatjana came along! </p>
                    <p class="cursive-text center"> - Danielle, Restaurant Group Owner </p>
                </div>
                 <!------------Slide 3----------------->
                  <div class="slider-item">
                    <p class="medium-text center"> 
                    I have worked with a lot of developers. I am old school. I liked your approach; your attention to detail. </p>
                    <p>I don't think AI will ever be able to do that. </p>
                    <p class="cursive-text center"> - Urda, Designer </p>
                </div>
            </div>
        
        </div>
    </div>
</section>