<footer class="grid-spaceBetween-top bg-dark light-text padded-b-0">
    <div class="col-5_md-12_xs-12 footer-info md-text-center">
        <img src="/images/jcs-logo-footer.png" alt="Julita Creations Studio logo">
        <div class="padded-t-1 md-padded-b">
            <p> One person Web Design & Development and Photography studio specialising in Food, Beverage & Service - based businesses, with purposes beyond the ordinary.
            </p>
        </div>
    </div>

    <nav class="col-2_md-4_xs-6 xs-padded">
        <h4> Quick Links </h4>
        <a href="/index.html#service"> Services </a>
        <a href="/portfolio-web.html"> Website Portfolio </a>
        <a href="/portfolio-photography.html"> Photography Portfolio </a>
        <a href="/index.html#about"> About </a>
    </nav>

    <nav class="col-2_md-4_xs-6 xs-padded"> 
    <h4> Connect </h4>
        <a href="#"> Instagram </a>
        <a href="#"> Facebook </a>
        <a href="#"> Pinterest </a>
    </nav>

    <nav class="col-3_md-4_xs-12 xs-padded"> 
        <h4> Get in touch </h4>
            <p>Based in Milan, working with businesses worldwide. Tue-Fri 10am-4pm CEST</p>
            <a href="#"> email@email.com </a>
            <a href="#"> WhatsApp </a>
    </nav>

    <div class="site-credit light-text bg-dark padded-b-2 col-12 grid">
        <div class="col-12 padded-t padded-b-1">
            <span>Copyright Julita Creations Studio 2024 | </span>
            <a href="#" class=""> Policies </a>
        </div>
    </div>
</footer>