<!DOCTYPE html>
<html lang="en">

<!------- This is the head of the HTML for linking external resources & metadata ------->
<head> 
    
        <!-- The title for SEO & browser tabs -->
        <title> Website Title Here </title>

        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
    
        <!-- Add Google Fonts Here  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=WindSong&display=swap" rel="stylesheet">
                
    
        <!-- My own custom stylesheet-this always goes last -->
        <link rel="stylesheet" href="/style.css">
       
</head>

<!------ This is the body, where all of the contents of our page go  ------->
<body>

    <!--header nav-->
    <header class="grid-middle bg-dark light-text">
        <div class="col-5_sm-11">
            <a href="/index.html" class="logo">
                <h2> Julita Creations Studio </h2>
            </a>
        </div>
        <nav class="col-7_sm-12 right hide-sm">
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
        <div class="col-1">
            <div class="burger-button show-sm">
                <span class="burger-top"></span>
                <span class="burger-middle"></span>
                <span class="burger-bottom"></span>
            </div>
        </div>
    </header>

    <!--mobile menu hamburger button-->
    <div class="mobile-menu bg-featured padded">
        <nav>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
    </div>


    {{ content }}

    <!-------Footer---------------------->
      
    <footer class="grid-spaceBetween-top bg-dark light-text padded-b-0">
        <div class="col-5_md-12_xs-12 footer-info">
            <img src="/images/jcs-logo-footer.png" alt="#">
            <div class="padded-t-1">
                <p> One person Web Design & Development and Photography studio specialising in Food, Beverage & Service - based businesses, with purposes beyond the ordinary.
                </p>
            </div>
        </div>

        <nav class="col-2_md-4_xs-12">
            <h4> Services </h4>
            <a href="#services"> Services </a>
            <a href="#portfolio"> Portfolio </a>
            <a href="#about"> About </a>
            <a href="#"> FAQs </a>
            <a href="#"> Policies </a>
        </nav>
    
        <nav class="col-2_md-4_xs-12"> 
        <h4> Connect </h4>
            <a href="#"> Instagram </a>
            <a href="#"> Facebook </a>
            <a href="#"> Pinterest </a>
        </nav>

        <nav class="col-3_md-4_xs-12"> 
            <h4> Contact </h4>
                <p>Based in Milan, working with businesses worldwide. Mon-Fri 10am-4pm CEST</p>
                <a href="#"> email@email.com </a>
                <a href="#"> WhatsApp </a>
        </nav>

        <div class="site-credit light-text bg-dark padded-b-1 col-12 grid">
            <div class="col-6 padded-t">
                <p>Copyright Julita Creations Studio 2023 | All rights reserved</p> 
            </div>
            <div class="col-6 padded-t">
                <p> Images by Julita Creations, unless stated otherwise from 
                    <a href=“” target=“_blank”> Unsplash</a>
                </p>
            </div>
        </div>
    </footer>


    {% include body-scripts.html %}
</body>

</html>