<!DOCTYPE html>
<html lang="en">

<!------- This is the head of the HTML for linking external resources & metadata ------->
<head> 

    {% include head.html %}
       
</head>

<!------ This is the body, where all of the contents of our page go  ------->
<body>
     <!-- <img src="/images/Group 15.svg" id="custom-cursor" /> -->

    <!--header nav-------->
    {% include header-nav.html %}


    <!-------Site content------------>

    {{ content }}


    <!-------Footer--------------->
    {% include site-footer.html %}


    <!--JavaScript etc files-------->
    {% include body-scripts.html %}


</body>

</html>