---
layout: default
---

    <!-------showcase & testimonial of Web Portfolio project------>

    <h3 class="col-12 center medium-heading padded padded-b-0"> {{page.title}}</h3>

    <section class="grid-spaceAround padded-lg md-padded padded-t padded-b-0 sm-padded-b-sm flex-flip-sm">  
        <div class="col-3-middle_md-4_sm-12 sm-padded-1">
            <p>{{page.case}}</p>
        </div>
        <div class="col-8-middle_md-7_sm-12 video-container sm-padded-1">
            <!-- background video -->
            <video autoplay muted loop playsinline poster="{{project.poster}}">
                <source src="{{page.video_webm}}" type="video/webm">
                <source src="{{page.video_mp4}}" type="video/mp4">
                <p>Sorry, your browser doesn't support embedded videos</p> 
            </video>
        </div>
    </section>

    <section class="grid padded-lg md-padded padded-t md-padded-t-1 padded-b md-padded-b sm-padded-t-0"> 
        <div class="bg-image col-7_sm-12 tall-70 sm-tall-50 image-border lazy" style="background-image: url('{{ page.mockup_image }}')"></div>
       
        <div class="grid col-5-bottom_sm-12">
            <div class="padded col-12 right sm-text-left sm-padded-1">
                <p>{{page.solution}}</p>
                <a href="{{ page.live_url }}" class="uppercase featured-text bold" target=“_blank”>View Live Site &#8594;</a>
            </div>
            <div class="col-12 bg-image tall-40 image-border lazy" style="background-image: url('{{ page.featured_image }}')">
                <!-- background image -->
            </div> 
        </div>
    </section>

   


    <!-------Call to Action and Previous / next project navigation ----------->
     <section class="padded padded-t-0 xs-padded-b-lg grid-spaceAround center"> 

        <div class="col-8 right padded-b-0 xs-padded-05">
            <a href="{{ page.next-project_url }}" class="medium-heading featured-text">Next project &#8594;</a> 
        </div>

        <div class="col-8 left padded-b">
            <a href="{{ page.previous-project_url }}" class="medium-heading featured-text"> &#8592;Previous project</a> 
        </div>

        <div class="col-12-middle padded-t">
            <h5 class="medium-heading margin-b-0"> Ready to <em>create</em> <br> <em>your</em> dream website? </h5>
            <a href="/index.html#contact" class="uppercase margin-t-2 button-color"> Inquire Now </a>
        </div>
    </section>



      
